*{
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
    font-family: "Kanit", sans-serif;
    background-image: url("https://st2.depositphotos.com/1000419/12451/v/450/depositphotos_124514706-stock-illustration-chemistry-background-seamless-pattern-for.jpg");
}
.t{
  white-space: normal;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  margin-top: 20px;
}
.t1{
  background-color: white;
  width:100%;
  background-image: linear-gradient(180deg, rgb(65, 10, 110), rgb(255, 230, 0));
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.t2{
  padding-left: 30px;
  font-size: 40px;
  flex-direction: column;
  font-style: bold;
  border-left: 2px solid black;
}
#img1{
  height: 100%;
  margin: 0px auto;
}
.p1 {
  line-break: normal;
}






/* Matheus vidal zenere */

